package {{ package }}.controller;

import {{ package }}.model.*;
import {{ package }}.service.{{apiSpecClassName}};
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;

{{> header }}
@RestController
public class {{controllerClassName}} {

    private {{apiSpecClassName}} {{apiSpecName}};

    @Autowired
    public {{controllerClassName}}({{apiSpecClassName}} {{apiSpecName}}) {
        this.{{apiSpecName}} = {{apiSpecName}};
    }
    {{#resources}}
        {{#actions}}
            {{> resource}}
        {{/actions}}
    {{/resources}}

}