package {{ package }}.service;

import {{ package }}.model.*;
{{#extraImports}}
import {{.}};
{{/extraImports}}

{{> header }}
public interface {{apiSpecClassName}} {

    {{#resources}}
        {{#actions}}
            {{> resourceprototype}}
        {{/actions}}
    {{/resources}}

}