package {{ package }}.service;

import {{ package }}.model.*;

{{> header }}
public interface {{apiSpecClassName}} {

    {{#resources}}
        {{#actions}}
            {{> resourceprototype}}
        {{/actions}}
    {{/resources}}

}