{{#parameters}}{{__delim}}{{#__showParamAnno}}{{>pathparamanno}} {{/__showParamAnno}}{{#__showCustomAnno}}@{{__annotation}} {{/__showCustomAnno}}{{#fn.maptype}}{{{type}}}{{/fn.maptype}} {{name}}{{/parameters}}